<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheet/index.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group" id="list-tab" role="tablist">
                {% for org in contacts %}
                    <a class="list-group-item list-group-item-action" data-toggle="tab"
                       href="#list-{{ loop.index }}" role="tab">
                        <div class="">
                            <div class="row">
                                <h5>{{ org["name"] }}</h5>
                            </div>
                            <div class="row">
                                <ul class="list-unstyled">
                                    <li class=""><i class="fas fa-phone"></i> {{ org["tel"] }}</li>
                                    <li class=""> {{ org["address"] }}</li>
                                    <li class=""> {{ org["postcode"] }}</li>
                                </ul>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-sm" data-toggle="modal"
                                        data-target="#editCompanyModal" data-name="{{ org["name"] }}"
                                        data-address="{{ org["address"] }}"
                                        data-postcode="{{ org["postcode"] }}" data-tel="{{ org["tel"] }}">
                                    <i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-sm" data-toggle="modal"
                                        data-target="#delCompanyModal" data-name="{{ org["name"] }}"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#companyModal">
                Add organisation
            </button>
        </div>
        <div class="col">
            <div class="tab-content" id="nav-tabContent">
                {% for org in contacts %}
                    <div class="tab-pane fade" id="list-{{ loop.index }}"
                         role="tabpanel">
                        {% for person in org["people"] %}
                            <div class="card-group">
                                <div class="card-body">
                                    <h5 class="card-title">{{ person["name"] }}</h5>
                                    <ul class="list-unstyled">
                                        <li class="">{{ person["address"] }}</li>
                                        <li class="">{{ person["postcode"] }}</li>
                                        <li class="">{{ person["tel"] }}</li>
                                    </ul>
                                    <div class="row">
                                        <button type="button" class="btn btn-sm" data-toggle="modal"
                                                data-target="#editPersonModal" data-org="{{ org["name"] }}"
                                                data-name="{{ person["name"] }}"
                                                data-address="{{ person["address"] }}"
                                                data-postcode="{{ person["postcode"] }}" data-tel="{{ person["tel"] }}">
                                            <i class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-sm" data-toggle="modal"
                                                data-target="#delPersonModal" data-org="{{ org["name"] }}"
                                                data-name="{{ person["name"] }}"><i
                                                class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPersonModal"
                                data-org="{{ org["name"] }}">
                            Add person
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="companyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyModalLabel">Add Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/add/company" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="companyName">Name</label>
                        <input name="companyName" id="companyName" class="form-control" type="text" required="required">
                    </div>
                    <div class="form-group">
                        <label for="companyAddress">Address</label>
                        <input name="companyAddress" id="companyAddress" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="companyPostcode">Postcode</label>
                        <input name="companyPostcode" id="companyPostcode" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="companyTel">Telephone</label>
                        <input name="companyTel" id="companyTel" class="form-control" type="tel" required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editCompanyModal" tabindex="-1" role="dialog" aria-labelledby="editCompanyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyModalLabel">Edit Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/edit/company" method="post">
                <div class="modal-body">
                    <input name="editCompanyOriginal" id="editCompanyOriginal" class="form-control" type="hidden"
                           required="required">
                    <div class="form-group">
                        <label for="editCompanyName">Name</label>
                        <input name="editCompanyName" id="editCompanyName" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editCompanyAddress">Address</label>
                        <input name="editCompanyAddress" id="editCompanyAddress" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editCompanyPostcode">Postcode</label>
                        <input name="editCompanyPostcode" id="editCompanyPostcode" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editCompanyTel">Telephone</label>
                        <input name="editCompanyTel" id="editCompanyTel" class="form-control" type="tel"
                               required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personModalLabel">Edit Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/edit/person" method="post">
                <div class="modal-body">
                    <input name="editCompanyNamePerson" id="editCompanyNamePerson" class="form-control" type="hidden"
                           required="required">
                    <input name="editPersonNameOriginal" id="editPersonNameOriginal" class="form-control" type="hidden"
                           required="required">
                    <div class="form-group">
                        <label for="editPersonName">Name</label>
                        <input name="editPersonName" id="editPersonName" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editPersonAddress">Address</label>
                        <input name="editPersonAddress" id="editPersonAddress" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editPersonPostcode">Postcode</label>
                        <input name="editPersonPostcode" id="editPersonPostcode" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="editPersonTel">Telephone</label>
                        <input name="editPersonTel" id="editPersonTel" class="form-control" type="tel"
                               required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personModalLabel">Add Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/add/person" method="post">
                <div class="modal-body">
                    <input name="companyNamePerson" id="companyNamePerson" class="form-control" type="hidden"
                           required="required">
                    <div class="form-group">
                        <label for="personName">Name</label>
                        <input name="personName" id="personName" class="form-control" type="text" required="required">
                    </div>
                    <div class="form-group">
                        <label for="personAddress">Address</label>
                        <input name="personAddress" id="personAddress" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="personPostcode">Postcode</label>
                        <input name="personPostcode" id="personPostcode" class="form-control" type="text"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="personTel">Telephone</label>
                        <input name="personTel" id="personTel" class="form-control" type="tel" required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delCompanyModal" tabindex="-1" role="dialog" aria-labelledby="delCompanyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delCompanyModalLabel">Delete Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/delete/company" method="post">
                <div class="modal-body">
                    <input name="delCompanyName" id="delCompanyName" class="form-control" type="hidden"
                           required="required">
                    <h2>Delete <i id="delCompany"></i>?</h2>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delPersonModal" tabindex="-1" role="dialog" aria-labelledby="delPersonModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delPersonModalLabel">Delete Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/delete/person" method="post">
                <div class="modal-body">
                    <input name="delCompanyNamePerson" id="delCompanyNamePerson" class="form-control" type="hidden"
                           required="required">
                    <input name="delPersonName" id="delPersonName" class="form-control" type="hidden"
                           required="required">
                    <h2>Delete <i id="delPerson"></i>?</h2>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
<script src="/static/js/index.js"></script>
</body>
</html>